<p-table 
    [columns]="selectedColumns" 
    [value]="tires" 
    responsiveLayout="scroll" 
    scrollDirection="both"
    [resizableColumns]="true"
    [scrollable]="true"
    (sortFunction)="customSort($event)" [customSort]="true"
    [globalFilterFields]="['name','brand','wheelSize','tireType']"
    styleClass="p-datatable-striped p-datatable-sm">
    <ng-template pTemplate="caption" class="table-modifiers">
        <div class="table-modifiers">
            <p-multiSelect [options]="headers" [(ngModel)]="selectedColumns" 
            selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns"></p-multiSelect>
            <p-selectButton [options]="['g', 'oz']" [(ngModel)]="selectedWeightUnit"></p-selectButton>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngIf="selectedColumns.includes('Brand')" 
                [pSortableColumn]="'brand'"
                pResizableColumn
                >Brand <p-sortIcon field="brand"></p-sortIcon>
                <p-columnFilter field="brand" matchMode="in" type="text" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" >
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect [ngModel]="value" [options]="tireBrands" placeholder="Any" (onChange)="filter($event.value)">
                            <ng-template let-option>
                                <div>
                                    <span class="ml-1">{{option}}</span></div></ng-template></p-multiSelect></ng-template></p-columnFilter>
            </th>
            <th pResizableColumn class="name" *ngIf="selectedColumns.includes('Name')" [pSortableColumn]="'name'">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pResizableColumn *ngIf="selectedColumns.includes('Weight')" [pSortableColumn]="'weight'">Weight <p-sortIcon field="weight"></p-sortIcon></th>
            <th pResizableColumn *ngIf="selectedColumns.includes('Width')" [pSortableColumn]="'width'">Width  <p-sortIcon field="width"></p-sortIcon></th>
            <th pResizableColumn *ngIf="selectedColumns.includes('Wheel Size')" 
                [pSortableColumn]="'wheelSize'"
                >Wheel Size <p-sortIcon field="wheelSize"></p-sortIcon>
                <p-columnFilter field="wheelSize" matchMode="in" type="text" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" >
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect [ngModel]="value" [options]="wheelSizes" placeholder="Any" (onChange)="filter($event.value)">
                            <ng-template let-option>
                                <div>
                                    <span class="ml-1">{{option}}</span></div></ng-template></p-multiSelect></ng-template></p-columnFilter>
            </th>
            <th pResizableColumn *ngIf="selectedColumns.includes('Tire Type')" [pSortableColumn]="'tireType'"
                >Tire Type <p-sortIcon field="tireType"></p-sortIcon>
                <p-columnFilter field="tireType" matchMode="in" type="text" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" >
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect [ngModel]="value" [options]="tireTypes" placeholder="Any" (onChange)="filter($event.value)">
                            <ng-template let-tireType pTemplate="item">
                                <div>{{tireType | toPrettyTireType}}</div></ng-template></p-multiSelect></ng-template></p-columnFilter>
            </th>
            <th pResizableColumn *ngIf="selectedColumns.includes('Casing')" [pSortableColumn]="'casingType'">Casing <p-sortIcon field="casingType"></p-sortIcon></th>
            <th pResizableColumn *ngIf="selectedColumns.includes('Color')" [pSortableColumn]="'color'">Color <p-sortIcon field="color"></p-sortIcon></th>
            <th pResizableColumn *ngIf="selectedColumns.includes('Tread Pattern')" [pSortableColumn]="'treadPattern'">Tread Pattern <p-sortIcon field="treadPattern"></p-sortIcon></th>
            <th pResizableColumn *ngIf="selectedColumns.includes('Made In')" [pSortableColumn]="'countryManufactured'">Made In <p-sortIcon field="countryManufactured"></p-sortIcon></th>
            <th pResizableColumn *ngIf="selectedColumns.includes('Year')" [pSortableColumn]="'year'">Year <p-sortIcon field="year"></p-sortIcon></th>
            <th pResizableColumn class="sources-column" *ngIf="selectedColumns.includes('Sources')">Sources</th>
            <th pResizableColumn *ngIf="selectedColumns.includes('BRR Article')">BRR Article</th>

            <th [pSortableColumn]="'approved'">Verified <p-sortIcon field="approved"></p-sortIcon><p-columnFilter type="boolean" field="approved" display="menu"></p-columnFilter></th>

            <th *ngIf="isLoggedIn" class="edit-icon-column" ></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tire let-columns="columns">
        <tr>
            <td *ngIf="selectedColumns.includes('Brand')" >{{tire.brand}}</td>
            <td class="name" *ngIf="selectedColumns.includes('Name')"><a [routerLink]="['/tire', tire._id]" routerLinkActive="router-link-active" >{{tire.name}}</a></td>
            <td *ngIf="selectedColumns.includes('Weight')" >{{tire.weight | toSelectedUnits:tire.weightUnits:selectedWeightUnit}}{{selectedWeightUnit}}</td>
            <td *ngIf="selectedColumns.includes('Width')" >{{tire.width}}{{tire.widthUnits}}</td>
            <td *ngIf="selectedColumns.includes('Wheel Size')" >{{tire.wheelSize}}</td>
            <td *ngIf="selectedColumns.includes('Tire Type')" >{{tire.tireType | toPrettyTireType}}</td>
            <td *ngIf="selectedColumns.includes('Casing')" >{{tire.casingType}}</td>
            <td *ngIf="selectedColumns.includes('Color')" >{{tire.color}}</td>
            <td *ngIf="selectedColumns.includes('Tread Pattern')" >{{tire.treadPattern}}</td>
            <td *ngIf="selectedColumns.includes('Made In')" >{{tire.countryManufactured}}</td>
            <td *ngIf="selectedColumns.includes('Year')" >{{tire.year}}</td>
            <td *ngIf="selectedColumns.includes('Sources')" class="sources sources-column" >
                <a *ngFor="let source of tire.sources" 
                    class="source"
                    href="{{source}}" target="_blank">{{(source | toPrettyUrl)}}
                </a>
            </td>
            <td *ngIf="selectedColumns.includes('BRR Article')" >
               <a *ngIf="tire.bicycleRollingResistanceArticle" href="{{tire.bicycleRollingResistanceArticle}}" class="source" target="_blank">
                Link
               </a>
            </td>
            <td>
                <div class="verified-wrapper">
                    <i *ngIf="tire.approved" class="pi pi-check verified" title="Verified by {{tire.approvedBy}} on {{tire.dateApproved | date}}"></i>
                </div>
            </td>
            <td class="edit-icon-column" *ngIf="isLoggedIn">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded mr-2 edit-button" 
                    *ngIf="isLoggedIn && canEditTire(tire)" (click)="editTire(tire)">
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>
<div class="spinner-wrapper"><p-progressSpinner class="spinner" *ngIf="loading"></p-progressSpinner></div>


<p-dialog header="Edit Tire" [(visible)]="editDialogShown">
    <app-create-tire-dialog
    [tire]="selectedTire"
    (tireSaved)="onTireSaved($event)">
</app-create-tire-dialog>
</p-dialog>
