<p-table 
    [columns]="selectedColumns" 
    [value]="tires" 
    responsiveLayout="scroll" 
    styleClass="p-datatable-striped p-datatable-sm">
    <ng-template pTemplate="caption">
        <p-multiSelect [options]="headers" [(ngModel)]="selectedColumns" 
            selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns"></p-multiSelect>
        <p-dropdown [options]="['g','oz']" [(ngModel)]="selectedWeightUnit"
            placeholder="Units" class="units-dropdown">
        </p-dropdown>

    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of selectedColumns">
                {{col}}
            </th>
            <th *ngIf="isLoggedIn" ></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tire let-columns="columns">
        <tr>
            <td *ngIf="selectedColumns.includes('Name')">{{tire.name}}</td>
            <td *ngIf="selectedColumns.includes('Brand')" >{{tire.brand}}</td>
            <td *ngIf="selectedColumns.includes('Weight')" >{{tire.weight | toSelectedUnits:tire.weightUnits:selectedWeightUnit}}{{selectedWeightUnit}}</td>
            <td *ngIf="selectedColumns.includes('Width')" >{{tire.width}}{{tire.widthUnits}}</td>
            <td *ngIf="selectedColumns.includes('Wheel Size')" >{{tire.wheelSize}}</td>
            <td *ngIf="selectedColumns.includes('Tire Type')" >{{tire.tireType | tireType}}</td>
            <td *ngIf="selectedColumns.includes('Casing')" >{{tire.casingType}}</td>
            <td *ngIf="selectedColumns.includes('Color')" >{{tire.color}}</td>
            <td *ngIf="selectedColumns.includes('Tread Pattern')" >{{tire.treadPattern}}</td>
            <td *ngIf="selectedColumns.includes('Made In')" >{{tire.countryManufactured}}</td>
            <td *ngIf="selectedColumns.includes('Year')" >{{tire.year}}</td>
            <td *ngIf="selectedColumns.includes('Sources')" class="sources" >
                <a *ngFor="let source of tire.sources" 
                    class="source"
                    href="{{source}}" target="_blank">{{(source | toPrettyUrl)}}
                </a>
            </td>
            <td *ngIf="selectedColumns.includes('BRR Article')" >
               <a href="{{tire.bicycleRollingResistanceArticle}}" class="source" target="_blank">
                {{tire.bicycleRollingResistanceArticle | toPrettyUrl}}
               </a>
            </td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded mr-2 edit-button" 
                    *ngIf="isLoggedIn && canEditTire(tire)"(click)="editTire(tire)">
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>
<div class="spinner-wrapper"><p-progressSpinner class="spinner" *ngIf="loading"></p-progressSpinner></div>


<p-dialog header="Edit Tire" [(visible)]="editDialogShown">
    <app-create-tire-dialog
    [tire]="selectedTire"
    (tireSaved)="onTireSaved($event)">
</app-create-tire-dialog>
</p-dialog>
