.sources {
    flex-direction: column;
}

.edit-button {
    background-color: rgb(242,208,102);
    &:hover {
        background-color:darken($color: rgb(242,208,102), $amount: 15);
    }
}
.spinner-wrapper {
    width:100%;
    display:flex;
    justify-content: center;
    padding:30px;
}

.table-modifiers {
    display: flex;
    flex-direction: row;
    margin: 5px;
    * {
        margin-left: 10px;
    }
}

td, th {
    width: 150px;
    &.name {
        width: 200px;   
    }
    &.edit-icon-column {
        width: 50px;
    }

    &.sources-column {
        width: 200px;
    }
}

.verified-wrapper {
    display: flex;
    justify-content: center;
    .verified {
        background-color: #3b82f6;
        color: white;
        border-radius: 50%;
        padding: 6px;
    }
}
