.form-input {
    margin: 10px;
    &.wide input{
        min-width: 100%
    }
}

.form-wrapper {
    display:flex;
    flex-direction: column;
}

.form-fields {
    display: flex;
    flex-direction: row;
}

.dual-input {
    display: flex;
    flex-direction:  row;
}

.units-dropdown {
    margin-top: 10px;
    margin-left: 10px;
}

.sources {
    margin: 10px;
    display: flex;
    flex-direction: row;
    .source-inputs {
        flex-direction: row;
    }
    input {
        width: 93%;
    }
}

.sources-wrapper {
    label, small {
        margin: 10px;
    } 
}

.add-source-button {
    float: right;
}

.form-button {
    float: right;
}

.required-fields, .optional-fields {
    min-width: 400px;
}

input.ng-dirty.ng-invalid {
    color: red
  }

  /* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1000px) {
    .form-fields {
        flex-direction: column;
    }
    .vertical-divider {
        display: none;
    }
}
