<p class="welcome-user" *ngIf="(currentUser | async)">
    Welcome, {{(currentUser | async)?.name}} 
</p>

<p-dialog header="Add Tire" [(visible)]="createDialogShown">
    <app-create-tire-dialog
        (tireSaved)="onTireSaved($event)">
    </app-create-tire-dialog>
</p-dialog>

<div class="content-wrapper">
    <div class="button-wrapper">
        <i *ngIf="(currentUser | async) === null"
            class="pi pi-info-circle center-icon" 
            pTooltip="Must be logged in to add tires" tooltipPosition="top"></i>
        <button pButton type="button" (click)="showCreateDialog()" 
            [disabled]="(currentUser | async) === null"
            icon="pi pi-plus" class="add-tire-button" label="Add Tire"></button>
    </div>
    <app-tire-table
        [tireAddedSubject]="tireAddedSubject">
    </app-tire-table>
</div>

<p-toast [preventOpenDuplicates]="true" position="bottom-center"></p-toast>