<div class="form-wrapper">
    <form [formGroup]="form" (ngSubmit)="resetPassword()" class="form">

        <span class="p-float-label form-input">
            <input id="float-input"  formControlName="password" type="password" pPassword> 
            <label for="float-input">Password</label>
        </span>
    
        <span class="p-float-label form-input">
            <input id="float-input"  formControlName="confirmPassword" type="password" pPassword> 
            <label for="float-input">Confirm Password</label>
        </span>
    
        <button 
            pButton 
            type="button" 
            label="Change Password" 
            class="form-button"
            type="submit"
            [disabled]="!form.valid" ></button>
        <p *ngIf="form.hasError('notSame')">
            Passwords don't match!
        </p>
    </form>
    <div class="login-fail" *ngIf="error$.value">{{error$.value}}</div>
    <span *ngIf="result$.value">
        <p>{{result$.value}}</p>
        You're ready to <a [routerLink]="['/login']" routerLinkActive="router-link-active">login.</a>
    </span>
</div>




